<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Login </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h2><font color="blue">----------------Fill your details---------------</font></h2>
    <form action="login" method="post">
        {% csrf_token %}
        Enter Username: <input type="text" name="username" placeholder="username"><br>
        <br>
        Enter Password: <input type="password" name="password" placeholder="Password"><br>
        <br>
        <input type="Submit">
        <br>
        <br>
        <input type="button" value=" Back "  onclick="history.back()">
        </br>
        </br>
        </form>
        <div>

            {% for message in messages %}
            <h3><font color='red'>{{message}}</font> </h3>
        {% endfor%}
    </div>
</body>
</html>